---
title: About
oldUrl: /
---

<h1>Projects</h1>

{{ comp.CardList({pages: search.pages("type=project")}) }}

<br />

<h1>Publications</h1>

{{ comp.CardList({pages: search.pages("type=publication")}) }}