<nav class="flex flex-col space-y-4 p-6">
  <a class="navText" href="/">About</a>
  <a class="navText" href="/pages/projects/">Projects</a>
  <a class="navText" href="/pages/publications/">Publications</a>
  <a class="navText" href="/pages/blog/">Blog</a>
</nav>
