<nav class="flex flex-col w-64 p-6">
  <div class="flex flex-col space-y-4">
    <a class="navText" href="/pages/about/">About</a>
    <a class="navText" href="/pages/projects/">Projects</a>
    <a class="navText" href="/pages/publications/">Publications</a>
  </div>
</nav>
